 <div class="panel-footer" class="container">
          <div class="row">
            <section id="hours" class="col-sm-4">
              <span>Hours:</span><br>
              Sun-Thurs: 11:15am - 10:00pm<br>
              Fri: 11:15am - 2:30pm<br>
              Saturday Closed
              <hr class="visible-xs">
            </section>
            <section id="address" class="col-sm-4">
              <span>Address:</span><br>
              2531 market street  apt 5<br>
              Oakland, CA 94607
              <p>* Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.</p>
              <hr class="visible-xs">
            </section>
            <section id="testimonials" class="col-sm-4">
              <p>"The best Eritrean restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
              <p>"Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"</p>
            </section>
          </div>
          <div class="text-center">&copy; Copyright 2016</div>
 </div>